<!--<!DOCTYPE html>-->
<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Só Pisos - Cadastro de funcionários</title>
    <script type="text/javascript" src="../javascript/jquery-lib.js"> </script>
    <script type="text/javascript" src="../javascript/post-jquery.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>

    <style>
        /* Add a gray background color and some padding to the footer */
    
        body {
          background-color: #77030c;
          color:  #f8e007;
        }

      </style>

</head>

<body>
    </div>>
    <div>
        <nav>
            <ul>
                <li class="a"><a class="a1" href="/" title="paginaPrincipal" style=color:#f8e007>Página Principal</a></li>
                <li class="a"><a class="a1" href="/RH" title="RH" style=color:#f8e007>RH</a></li>
            </ul>
        </nav>
    </div>
    <div></div>
    <h1>Cadastro de funcionario!</h1>
    </div>
    <!--   <div class="container">
        <form>
            <label for="cpf">Entre com seu nome e login para iniciar a busca:</label>
            <input type='text' id="cpf" class="cpf" name="cpf" value="" />
            <input type='button' id="enviar2" value="Enviar" class="botao" onclick="Profis.findOne()" />
                      <input type='button' id="enviar2" value="Enviar" class="botao" onclick="Posts.findAll2()" />
        </form>
    </div> -->
    <div >
        <form>
 <!--           <label for="cpf">Entre com seu nome e login para iniciar a busca:</label>
            <input type='text' id="cpf" class="cpf" name="cpf" value="" /> -->
            <input type='button' id="enviar1" value="Cadastrar" class="botao" onclick="Profis.template()" />
            <input type='button' id="enviar2" value="Consultar" class="botao" onclick="Materiais.template2()" />
            <input type='button' id="enviar3" value="Alterar" class="botao" onclick="Materiais.findAll()" />
        <!--    <input type='button' id="enviar4" value="Deletar" class="botao" onclick="Posts.findAll2()" /> -->
        </form>
    </div>
    <div id='comments11'>
    </div>
    <div id='comments12'>
    </div>
    <div id='comments13'>
    </div>

</body>

</html>